################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OdeToFood/.vs
/OdeToFood/OdeToFood/bin/Debug/netcoreapp2.1
/OdeToFood/OdeToFood/obj
